# Created by .ignore support plugin (hsz.mobi)
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

.bloop/
.bsp/
.idea/
.metals/
target/
lib_managed/
src_managed/
project/boot/
.history
.cache
metals.sbt
### Scala template
*.class
*.log

# sbt specific
.lib/
dist/*
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime

# VS Code specific
.vscode/

# Mac OS specific
.DS_Store
